[data-theme="sun"] {
  /* Color */
  --canvas-1: var(--blue-6);
  --canvas-2: var(--blue-3);
  --logo-stroke: var(--yellow-5);
  --logo-fill: var(--yellow-5);
  --surface-1: var(--gray-0);
  --surface-2: var(--gray-2);
  --surface-3: var(--gray-3);
  --text-1: var(--gray-12);
  --text-2: var(--gray-7);
  --text-canvas: var(--gray-12-hsl);
  --text-accent: var(--gray-1);
  --text-disabled: var(--gray-5);
  --text-selected: var(--blue-9);
  --link: var(--blue-5);
  --link-hover: var(--blue-9);
  --link-visited: var(--blue-5);
  --table-border: var(--gray-3);
  --accent-1: var(--blue-5);
  --accent-2: var(--blue-7);
  --accent-3: var(--blue-9);
  --accent-error: var(--yellow-5);
  --accent-disabled: var(--gray-3);
  --scrollthumb-color: var(--yellow-3);
}

[data-theme="cloud"] {
  /* Color */
  --canvas-1: var(--gray-8);
  --canvas-2: var(--gray-6);
  --logo-stroke: var(--stone-9);
  --logo-fill: var(--stone-5);
  --surface-1: var(--gray-6);
  --surface-2: var(--stone-6);
  --surface-3: var(--gray-9);
  --text-1: var(--gray-12);
  --text-2: var(--gray-7);
  --text-canvas: var(--gray-12-hsl);
  --text-accent: var(--gray-1);
  --text-disabled: var(--gray-5);
  --text-selected: var(--blue-9);
  --link: var(--purple-10);
  --link-hover: var(--purple-12);
  --link-visited: var(--purple-10);
  --table-border: var(--gray-8);
  --accent-1: var(--purple-10);
  --accent-2: var(--purple-11);
  --accent-3: var(--purple-12);
  --accent-error: var(--yellow-5);
  --accent-disabled: var(--gray-3);
  --scrollthumb-color: var(--purple-12);
}

[data-theme="rain"] {
  /* Color */
  --canvas-1: var(--gray-6);
  --canvas-2: var(--gray-4);
  --logo-stroke: var(--blue-3);
  --logo-fill: var(--blue-4);
  --surface-1: var(--gray-0);
  --surface-2: var(--gray-2);
  --surface-3: var(--gray-3);
  --text-1: var(--gray-12);
  --text-2: var(--gray-7);
  --text-canvas: var(--gray-12-hsl);
  --text-accent: var(--gray-1);
  --text-disabled: var(--gray-5);
  --text-selected: var(--blue-9);
  --link: var(--blue-5);
  --link-hover: var(--blue-9);
  --link-visited: var(--blue-5);
  --table-border: var(--gray-3);
  --accent-1: var(--blue-5);
  --accent-2: var(--blue-7);
  --accent-3: var(--blue-9);
  --accent-error: var(--yellow-5);
  --accent-disabled: var(--gray-3);
  --scrollthumb-color: var(--blue-3);
}

[data-theme="snow"] {
  /* Color */
  --canvas-1: var(--gray-3);
  --canvas-2: var(--gray-4);
  --logo-stroke: var(--blue-3);
  --logo-fill: var(--blue-1);
  --surface-1: var(--gray-0);
  --surface-2: var(--gray-2);
  --surface-3: var(--gray-3);
  --text-1: var(--gray-8);
  --text-2: var(--gray-7);
  --text-canvas: var(--gray-12-hsl);
  --text-accent: var(--gray-0);
  --text-disabled: var(--gray-5);
  --text-selected: var(--blue-9);
  --link: var(--blue-5);
  --link-hover: var(--blue-9);
  --link-visited: var(--blue-5);
  --table-border: var(--gray-3);
  --accent-1: var(--blue-3);
  --accent-2: var(--blue-5);
  --accent-3: var(--blue-7);
  --accent-error: var(--yellow-5);
  --accent-disabled: var(--gray-3);
  --scrollthumb-color: var(--blue-2);
}

[data-theme="storm"] {
  /* Color */
  --canvas-1: var(--purple-12);
  --canvas-2: var(--violet-10);
  --logo-stroke: var(--yellow-7);
  --logo-fill: var(--yellow-7);
  --surface-1: var(--gray-5);
  --surface-2: var(--gray-6);
  --surface-3: var(--gray-5);
  --text-1: var(--gray-12);
  --text-2: var(--gray-7);
  --text-canvas: var(--gray-4-hsl);
  --text-accent: var(--gray-3);
  --text-disabled: var(--gray-5);
  --text-selected: var(--blue-9);
  --link: var(--blue-8);
  --link-hover: var(--blue-12);
  --link-visited: var(--blue-8);
  --table-border: var(--gray-6);
  --accent-1: var(--blue-8);
  --accent-2: var(--blue-10);
  --accent-3: var(--blue-12);
  --accent-error: var(--yellow-5);
  --accent-disabled: var(--gray-3);
  --scrollthumb-color: var(--gray-7);
}
