/* These are defined using @property so we can transition them (in browsers that support them) */
@property --canvas-1 {
  syntax: '<color>';
  initial-value: #fff;
  inherits: true;
}

@property --canvas-2 {
  syntax: '<color>';
  initial-value: #fff;
  inherits: true;
}

@property --surface-1 {
  syntax: '<color>';
  initial-value: #fff;
  inherits: true;
}

@property --surface-2 {
  syntax: '<color>';
  initial-value: #fff;
  inherits: true;
}

html {
  /* Color */
  --canvas-1: var(--purple-11);
  --canvas-2: var(--red-5);
  --logo-stroke: var(--orange-5);
  --logo-fill: var(--orange-5);
  --surface-1: var(--gray-0);
  --surface-2: var(--gray-2);
  --surface-3: var(--gray-3);
  --text-1: var(--gray-12);
  --text-2: var(--gray-7);
  --text-canvas: var(--gray-1-hsl);
  --text-accent: var(--gray-1);
  --text-disabled: var(--gray-5);
  --text-selected: var(--blue-9);
  --link: var(--blue-5);
  --link-hover: var(--blue-9);
  --link-visited: var(--blue-5);
  --accent-1: var(--blue-5);
  --accent-2: var(--blue-7);
  --accent-3: var(--blue-9);
  --accent-error: var(--yellow-5);
  --accent-disabled: var(--gray-3);
  --scrollthumb-color: var(--gray-7);

  /* Typography */
  --font-default: "Sen", system-ui, -apple-system, sans-serif;

  /* Spacing */
  --size-content-4: 80ch;
}
