:where(.wrapper) {
  margin-block-start: var(--size-3);
  padding: var(--size-3) var(--size-6);

  @media (--md-n-above) {
    padding: var(--size-3) var(--size-10);
  }
}

:where(.wrapper.no-gap) {
  margin-block-start: 0;
}

/* Simple grid system (https://gomakethings.com/how-to-build-a-reusable-grid-system-with-css-grid/) */
:where(.row) {
  display: grid;
  grid-gap: var(--size-3);

  @media (--md-n-above) {
    grid-template-rows: 1fr auto;
    grid-template-columns: repeat(12, 1fr);
  }
}

:where(.col-1) {
  min-width: 0;

  @media (--md-n-above) {
    grid-column: auto / span 1;
  }
}

:where(.col-2) {
  min-width: 0;

  @media (--md-n-above) {
    grid-column: auto / span 2;
  }
}

:where(.col-3) {
  min-width: 0;

  @media (--md-n-above) {
    grid-column: auto / span 3;
  }
}

:where(.col-4) {
  min-width: 0;

  @media (--md-n-above) {
    grid-column: auto / span 4;
  }
}

:where(.col-5) {
  min-width: 0;

  @media (--md-n-above) {
    grid-column: auto / span 5;
  }
}

:where(.col-6) {
  min-width: 0;

  @media (--md-n-above) {
    grid-column: auto / span 6;
  }
}

:where(.col-7) {
  min-width: 0;

  @media (--md-n-above) {
    grid-column: auto / span 7;
  }
}

:where(.col-8) {
  min-width: 0;

  @media (--md-n-above) {
    grid-column: auto / span 8;
  }
}

:where(.col-9) {
  min-width: 0;

  @media (--md-n-above) {
    grid-column: auto / span 9;
  }
}

:where(.col-10) {
  min-width: 0;

  @media (--md-n-above) {
    grid-column: auto / span 10;
  }
}

:where(.col-11) {
  min-width: 0;

  @media (--md-n-above) {
    grid-column: auto / span 11;
  }
}

:where(.col-12) {
  min-width: 0;

  @media (--md-n-above) {
    grid-column: auto / span 12;
  }
}

:where(.highlight) {
  background-color: hsl(var(--text-canvas) / 20%);
}

:where(.table-wrapper) {
  max-width: 100%;
  overflow: auto;
}

:where(.table-wrapper tbody th) {
  position: sticky;
  left: 0;
  white-space: nowrap;
  background-color: var(--surface-1);
}

:where(.visually-hidden) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
