.intro {
  max-width: var(--size-content-4);
  color: var(--text-canvas);
  font-size: var(--font-size-3);

  p {
    margin-block-start: var(--size-3);
  }

  @media (--md-n-above) {
    font-size: var(--font-size-4);
  }

  @media (--motionOK) {
    transition: color 2s ease-in-out;
  }
}

.inlineFields {
  margin-block-start: var(--size-3);

  .inlineField {
    display: inline-block;
    margin-block-start: var(--size-1);
  }
}

.formActions {
  margin-block-start: var(--size-5);
}
