.intro {
  max-width: var(--size-content-4);
  font-size: var(--font-size-2);
}

.inlineFields {
  margin-block-start: var(--size-3);

  .inlineField,
  .inlineText {
    display: inline-block;
  }
}

.formActions {
  margin-block-start: var(--size-5);
}
