.canvas {
  display: grid;
  grid-template:
    "header" auto "main" auto "footer" 1fr;
  min-height: 100vh;
  background: transparent linear-gradient(180deg, var(--canvas-1), var(--canvas-2) 200px) 0 0 no-repeat;

  @media (--motionOK) {
    transition: --canvas-1 2s ease-in-out, --canvas-2 2s ease-in-out;
  }
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.main > :last-child {
  padding-block-end: var(--size-6);
}

.footer {
  grid-area: footer;
  margin-block-start: calc(-1 * var(--size-3));
  background-color: var(--surface-1);
}
