.header {
  padding: var(--size-6);
  padding-block-end: 0;
}

.weatherwear {
  position: relative;
  font-size: var(--font-size-6);
  text-wrap: nowrap;

  img {
    position: absolute;
    top: -25px;
    left: -30px;
    z-index: var(--layer-1);
    width: 80px;
    height: 80px;
  }

  a {
    position: relative;
    z-index: var(--layer-3);
    display: block;
    padding-inline-start: 12px;
  }

  a::before {
    position: absolute;
    top: -8px;
    left: 5px;
    z-index: -1;
    width: 40px;
    height: 80px;
    background-color: var(--surface-1);
    transform: rotate(45deg);
    opacity: 0.9;
    content: '';
  }
}
