.header {
  padding: var(--size-3) var(--size-6) 0;
}

.weatherwear {
  position: relative;
  font-size: var(--font-size-7);
  text-wrap: nowrap;

  a {
    position: relative;
    z-index: var(--layer-3);
    display: block;
  }
}

.weather {
  position: absolute;
  top: -22px;
  left: -34px;
  z-index: var(--layer-1);
  width: 80px;
  height: 80px;
}

.weather::after {
  position: absolute;
  top: 17px;
  left: 31px;
  z-index: var(--layer-2);
  width: 40px;
  height: 80px;
  background-color: var(--surface-1);
  transform: rotate(45deg);
  opacity: 0.9;
  content: '';
}
