.weatherwear {
  position: relative;
  font-size: var(--font-size-7);

  a {
    position: relative;
    z-index: var(--layer-2);
    display: block;
    padding: var(--size-2) var(--size-6) 0 var(--size-9);
    -webkit-text-fill-color: transparent;
    text-wrap: nowrap;
    background: var(--gradient-19);
    background-clip: text;

    @media (--md-n-above) {
      padding-block-start: var(--size-2);
      padding-inline-start: var(--size-10);
    }
  }
}

.weather {
  position: absolute;
  top: 0;
  left: -5px;
  z-index: var(--layer-1);
  width: 80px;
  height: 80px;

  @media (--md-n-above) {
    left: 0;
  }
}
