.forecast {
  h2 {
    margin-top: var(--size-3);
  }
}

.completion {
  display: grid;
  grid-gap: var(--size-6);
  grid-template-areas:
    "weather"
    "hourly"
    "image"
    "options";

  @media (--sm-n-above) {
    grid-template:
      "weather image" auto "hourly hourly" auto "options options" 1fr / 1fr 1fr;
  }

  @media (--lg-n-above) {
    grid-template-areas:
      "weather image"
      "hourly image"
      "options image";
    grid-template-columns: 2fr 1fr;
  }
}

.weather {
  grid-area: weather;

  p {
    margin-block-start: var(--size-3);
    font-size: var(--font-size-2);
  }
}

.hourly {
  grid-area: hourly;
  min-width: 0;

  thead th,
  tbody td {
    padding-inline: var(--size-5);
    text-align: center;
    vertical-align: middle;
  }

  tbody tr:first-child td {
    font-size: var(--font-size-5);
  }
}

.image {
  grid-area: image;

  img {
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
  }
}

.options {
  grid-area: options;
}

.status {
  p {
    margin-block-start: var(--size-3);
    font-size: var(--font-size-2);
  }
}

.error {
  p {
    margin-block-start: var(--size-3);
    font-size: var(--font-size-2);
  }

  span {
    display: inline-block;
    padding: var(--size-1);
    background-color: var(--accent-error);
  }
}
