.forecast {
  display: grid;
  gap: var(--size-6);
  align-items: start;
  margin-block-start: var(--size-3);

  @media (--md-n-above) {
    grid-template-columns: 1fr 1fr;
  }
}

.text {
  display: grid;
  gap: var(--size-4);
  max-width: var(--size-content-4);

  p {
    margin-block-start: var(--size-3);
    font-size: var(--font-size-2);
  }
}

.image {
  align-self: stretch;

  img {
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
  }
}
