@import url("open-props/masks/edges");

.cloud {
  background: transparent linear-gradient(180deg, var(--surface-2), var(--surface-1) 60px) 0 0 no-repeat;
  mask: var(--mask-edge-scalloped-top);

  @media (--motionOK) {
    transition: --surface-1 500ms ease-in-out, --surface-2 500ms ease-in-out;
  }
}
