@import url("open-props/masks/edges");

.cloud {
  --cloud-gradient: linear-gradient(180deg, var(--surface-2), var(--surface-1) 20%);

  background: var(--surface-1) var(--cloud-gradient) 0 0 no-repeat;
  mask: var(--mask-edge-scalloped-top);
}
