.container {
  display: inline-block;
  background-color: var(--surface-2);
  border: 0 solid var(--blue-3);
  border-block-end-width: var(--border-size-3);
}

.container:hover,
.field[data-focused] .container {
  background-color: var(--surface-3);
  border-color: var(--blue-4);
  outline: none;
}

.field[data-disabled] .container {
  color: var(--text-disabled);
  border-color: var(--surface-3);
}

.field[data-invalid] .container {
  border-color: var(--warning-1);
}

.input {
  padding: var(--size-2) var(--size-3) var(--size-1);
  background-color: transparent;
  border: none;

  &::placeholder {
    color: var(--text-2);
  }

  &:focus {
    outline: none;
  }
}

.button {
  background-color: transparent;
  border: none;
}

.popover {
  --origin: translateY(-8px);

  min-width: var(--trigger-width);
  background-color: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-1);

  @media (--motionOK) {
    &[data-entering] {
      animation: popover-slide 200ms;
    }

    &[data-exiting] {
      animation: popover-slide 200ms reverse ease-in;
    }
  }
}

.listBox {
  display: block;
  width: unset;
  min-height: unset;
  max-height: inherit;
  overflow: auto;
  border: none;
  outline: none;
}

.listItem {
  position: relative;
  padding: var(--size-3) var(--size-6);


  &[data-selected]::before {
    position: absolute;
    top: var(--size-3);
    left: var(--size-2);
    content: '✓';
    content: '✓' / '';
    alt: ' ';
  }

  &[data-selected],
  &[data-focused],
  &[data-pressed] {
    color: var(--accent-1);
    background: var(--surface-3);
    outline: 1px auto var(--accent-2);
    outline-offset: -2px;
  }

  @media (--motionOK) {
    transition: outline-offset 200ms ease-in-out;
  }
}

@keyframes popover-slide {
  from {
    transform: var(--origin);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
