.container {
  margin-block-start: var(--size-3);
}

.errors {
  margin-block-start: var(--size-1);
}

.error {
  margin-block-start: var(--size-1);
}

.message {
  display: inline-block;
  padding: var(--size-2) var(--size-3);
  background-color: var(--accent-error);
}
